.root {
  flex-grow: 1;
  /* background-color: #fff; */
}
.toolbar {
  border-bottom: 1px solid rgb(192, 188, 188);
  padding: 0px;
  margin: 1%;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 45px;
}
title {
  flex-grow: 1;
  align-self: flex-end;
}
.navigation {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_left {
  display: flex;
  max-width: 50%;
}
.header_right {
  display: flex;
}
.leftIcon {
  margin-right: 10px;
}
.link {
  display: flex;
  margin-left: 14px;
  align-items: center;
}
.link > a {
  margin-left: 20px;
}
.typography {

  padding-right: 20px;
  color: black;
}
.icons {

  padding-right: 20px;
  color: black;
}
.iconsmobile{
  display: none;
}
/* responsive */

@media only screen and (max-width: 600px) {
  .typography {
    display: none;
  }
  .iconsmobile{
    display: block;
    padding-right: 20px;
  }
}
